---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main';
---

<Layout title="Welcome to Astro.">
    <div class="h-screen w-full">
        <Main client:load/>
    </div>
</Layout>

<style>
</style>
